.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
**/*.map
node_modules/**
CLAUDE.md
docs/**
package-lock.json
*.vsix
images/statusbar.png
images/device-picker.png
images/device-explorer.png
images/variant.png
